.pln {
    color:#000
}
@media screen {
    .str {
        color:#000
    }
    .kwd {
        color:#0070c0
    }
    .com {
        color:#00a03a;font-style:italic
    }
    .typ {
        color:#000
    }
    .lit {
        color:#c00000
    }
    .pun,.opn,.clo {
        color:#595959
    }
    .tag {
        color:#000
    }
    .atn {
        color:#000
    }
    .atv {
        color:#000
    }
    .dec,.var {
        color:#000
    }
    .fun {
        color:#000
    }
}
@media print,projection {
    .str {
    color:#000
    }
    .kwd {
        color:#0070c0;font-weight:bold
    }
    .com {
        color:#00a03a;font-style:italic
    }
    .typ {
        color:#000;font-weight:bold
    }
    .lit {
        color:#c00000
    }
    .pun,.opn,.clo {
        color:#595959
    }
    .tag {
        color:#000;font-weight:bold
    }
    .atn {
        color:#000
    }
    .atv {
        color:#000
    }
}
pre.prettyprint {
    padding:2px;border:1px solid #888
}
ol.linenums {
    margin-top:0;margin-bottom:0
}
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
    list-style-type:none
}
li.L1,li.L3,li.L5,li.L7,li.L9 {
    background:#eee
}
