.mycelium_gear_wrap label{  font-weight: bold;   font-size: 14px;   width: 100px;   display: inline-block;}
.mycelium_gear_wrap  .updated{margin-bottom:20px;}
.mycelium_gear_wrap  .descr{  margin-bottom: 20px;   font-style: italic;}
