/* ===[ This css appears to be used for most pages except the front page, which has its own CSS ]=== */
/* main color: #3a83b1; */

/* FONT IMPORTS */
@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);
@import url(//fonts.googleapis.com/css?family=Fjalla+One);



.titletext {
  /* main black titles */
  font-family: "Source Sans Pro";
  font-size: 54px;
  font-weight: 600;
  color: #111;
  padding: 25px;
  z-index: 2;
}


pre {
  /*font-weight: bold;*/
  color: #323232;
  font-family: "Courier New";
  font-size: 15px;
  background: #f8f8f8;
  padding: 20px 20px;
  border-left: 10px solid #e8e8e8;
  /* width: 650px; */
  overflow: auto;
  margin: 10px 0;
  white-space: pre;
}

.subtitle {
  font-family: "Source Sans Pro";
  font-size: 42px;
  text-align: left;
  font-weight: 500;
  color: #333;
  margin-bottom: 30px;
  padding-top: 8px;
  line-height: 1.1em;
}

.subtitle_2nd {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Ubuntu";
  font-size: 32px;
  font-weight: 500;
  color: #555;
  line-height: 1.1em;
}

/* -------------- T A B L E S ------------------ */
table, td, th {
  border: 1px solid #ccc;
  font-size: 16px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  width:100%;
}

th {
  background-color: #eee;
  padding: 15px 10px;
  font-weight: 400;
}
