/*
  All images
*/
image {
    border: none;
}
/*
  All links
*/
a {
    cursor: pointer;
    color: #2E6E9E;
    text-decoration: none;
}
/**/
a:hover {
    text-decoration: underline;
}

/*
  Footnote text
*/
div.thb-footnote-text {

    line-height: 14px;
    font-size: 13px;
    color: #555555;
}

/*
  Enclosing div for header and footer
*/
div.thb-header-and-footer {
    width: 680px;
    position: relative;
}
/**/
div.thb-footer {
    margin-bottom: 15px;
}
/**/
a.thb-pdf-link {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
}

/*
  Div that holds the links to the pages
*/
div.thb-page-links {
    position: absolute;
    top: 3px;
    left: 117px;
}

/*
  Div that holds the links to the pages, on first and last page
*/
div.thb-page-links-first-and-last {
    left: 95px;
}

/*
  Follow-me-on-twitter button
*/
img.thb-follow-me-on-twitter-button {
    border: none;
    position: absolute;
    top: -3px;
    right: 0;
}

/*
  Ad holder
*/
div#thb-banner-ad {

    position: relative;
    width: 100%;
    height: 40px; 
    
    background: #1D5987 url('../../../images/logo_background.png') 0 0 repeat-x;

    -moz-border-radius: 5px 5px 5px 5px; 
    -webkit-border-radius: 5px 5px 5px 5px; 
    border-radius: 5px 5px 5px 5px;

    margin-top: 10px;
}
/**/
div#thb-banner-ad a {
    text-decoration: none;
}

/*
  Ad body (text)
*/
div#thb-banner-ad div#thb-ad-body {

    position: absolute;
    top: 6px;
    left: 9px;

    color: #F8FBFF;
    font-size: 18px;
    line-height: 1em;
}

/*
  Ad body (longer text)
*/
div#thb-banner-ad div#thb-ad-body.thb-ad-body-verbose {

    top: 3px;
    left: 7px;
    width: 445px;
    font-size: 15px;
    line-height: 17px;
}

/*
  Quote
*/
div#thb-banner-ad div#thb-quote {

    position: absolute;
    top: 3px;
    left: 5px;

    color: #F8FBFF;
    font-size: 15px;
    font-style: italic;
}
/**/
div#thb-banner-ad span.thb-quote-text {
    font-style: italic;
}

/*
  Quotee
*/
div#thb-banner-ad div#thb-quotee-235 {

    position: absolute;
    top: 21px;
    left: 235px;

    color: #F8FBFF;
    font-size: 14px;
}

/*
  Logo with company name in banner ad
*/

div#thb-banner-ad div#thb-logo-with-company-name {

    position: absolute;
    bottom: 0;
    right: 4px;
}

/*
  Logo in banner ad
*/
div#thb-banner-ad img {

    padding: 1px 1px 1px 0;
    margin-right: 2px;

    border: none;

    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;

    background-color: #F5F8FC;
}

/*
  Company name in banner ad
*/
div#thb-banner-ad span.thb-first-part-of-company-name {

    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "URW Gothic L", sans-serif;
    font-weight: bold;
    color: #F8FBFF;
    font-size: 18px;
    line-height: 1em;

    vertical-align: 6px;
}
/**/
div#thb-banner-ad span.thb-second-part-of-company-name {

    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "URW Gothic L", sans-serif;
    font-weight: normal;

    /* The smaller ".com" needs to be lighter, or else it looks weak. */
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1em;

    vertical-align: 6px;
}

/*
  Pitch
*/
div#thb-banner-ad-holder div.thb-gtz-pitch {

    position: absolute;
    top: 82px;
    left: 259px;

    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    color: #234353;
}
